
<div class="container">


    <div class="card" style="margin-bottom: 1em width: 50rem;">
        <h2>POST</h2>
        <input class="form-control" style="margin-bottom: 1em" type="text" placeholder="URL รูปภาพ">
        <input class="form-control" style="margin-bottom: 1em" type="text" placeholder="ข้อความ">
  
        <div class="btn btn-primary">POST
  
        </div>
    </div>
    <br>
  <div *ngFor="let data of dataDB" class="row">
      <div class="card" style="margin-bottom: 1em; width: 50rem;">
          <img src="{{ data.url }}" class="card-img-top" alt="...">
          <div class="card-body">
          
            <p class="card-text">{{ data.message }}</p>
            <input class="form-control" type="text" placeholder="เพิ่มความคิดเห็น">
          </div>
        </div>
  </div>




  <br>
  <br>
</div>

